﻿@model IEnumerable<webservicos.Models.Agenda>

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Agenda</h2>

<p>
    @Html.ActionLink("Adicionar serviço", "Cadastro", "Servico")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Anuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
                 @*<td>
                    @Html.ActionLink("Vizualizar", "Detalhes", "Servico", new { id = item.Codigo })
                </td>*@
        </tr>
    }

</table>
