﻿@model webservicos.Models.Usuario

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Altere seus dados</h1>
<br />

@{Html.BeginForm("Salvar", "Usuario");}
@Html.ValidationSummary(true)

<span class="label label-success">@TempData["SucessMsg"]</span>
<span class="label label-danger">@TempData["ErrorMsg"]</span>

@Html.HiddenFor(x => x.Codigo)

<div class="form-group">
    @Html.LabelFor(x => x.Nome)
    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Nome)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Email)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Telefone)
    @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Telefone)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Sexo)
    @Html.DropDownListFor(x => x.Sexo, new[] {
        new SelectListItem() {Text= "Escolha", Value="" },
        new SelectListItem() {Text= "Homem", Value="M" },
        new SelectListItem() {Text= "Mulher", Value="F" },
        }, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Sexo)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.CPF)
    @Html.TextBoxFor(x => x.CPF, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CPF)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Endereco)
    @Html.TextBoxFor(x => x.Endereco, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Endereco)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Login)
    @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Login)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Senha)
    @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Senha)
</div>
<br />
<br />
<input type="submit" class="btn btn-primary" value="Salvar" />

<input type="submit" class="btn btn-primary" value="Cancelar" />


@{Html.EndForm();}
