﻿@model IEnumerable<webservicos.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Lista de Usuários</h1>
<br />
<h3>Usuários</h3>

<p>
    @Html.ActionLink("Adicionar usuário", "Cadastro", "Usuario")
</p>

<span class="label label-success">@TempData["SucessMsg"]</span>
<br />
<span class="label label-danger">@TempData["ErrorMsg"]</span>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>

            <td>

            <td>
                @*@Html.ActionLink("Vizualizar", "Detalhes", new { id = item.Codigo })
                @if (((webservicos.Models.Usuario)Session["Usuario"]).Login == "Administrador")
                {
                    @Html.ActionLink("Editar", "Editar", new { id = item.Codigo })
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Codigo })
                }*@
            </td>
        </tr>
    }

</table>

