﻿@model webservicos.Models.Usuario

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.HiddenFor(x => x.Codigo)

<h2>Meu perfil</h2>
<br / >

<fieldset>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Login)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Login)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Senha)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Senha)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Nome)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Nome)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Telefone)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Telefone)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Email)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Email)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Sexo)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Sexo)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.CPF)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.CPF)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

        <div class=bs-docs-featurette>
            <div class=container>
                <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Endereco)</h4>
                <br />
                <p class="active">@Html.DisplayFor(model => model.Endereco)</p>
                <hr class=half-rule>
                <div class="row bs-docs-featured-sites">
                </div>
            </div>
        </div>

        <div class=bs-docs-featurette>
            <div class=container>
                <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.DataCadastro)</h4>
                <br />
                <p class="active">@Html.DisplayFor(model => model.DataCadastro)</p>
                <hr class=half-rule>
                <div class="row bs-docs-featured-sites">
                </div>
            </div>
        </div>

        <div class=bs-docs-featurette>
            <div class=container>
                <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.DataAlteracao)</h4>
                <br />
                <p class="active">@Html.DisplayFor(model => model.DataAlteracao)</p>
                <hr class=half-rule>
                <div class="row bs-docs-featured-sites">
                </div>
            </div>
        </div>

        <div class=bs-docs-featurette>
            <div class=container>
                <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.PrimeiroNome)</h4>
                <br />
                <p class="active">@Html.DisplayFor(model => model.PrimeiroNome)</p>
                <hr class=half-rule>
                <div class="row bs-docs-featured-sites">
                </div>
            </div>
        </div>

</fieldset>

<br / >

<p>
        @Html.ActionLink("Editar", "Editar", new { id=Model.Codigo }) |
        @Html.ActionLink("Voltar", "Index")
</p>
