﻿@{
    ViewBag.Title = "Sobre A Web Serviços";
}
<h2>@ViewBag.Title</h2>


@Html.Label("Por que anunciar conosco?", new { @style = "color: #000000" })

<img src="~/Images/vagas-de-emprego -.png" class="img-fluid" />
