﻿@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Web Serviços<br />
    Curitiba, PR <br />
    <abbr title="Telefone">P:</abbr>
   41 9 9902-9158
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:ana.nicole02@gmail.com">ana.nicole02@gmail.com</a><br />
    
</address>