﻿@{
    ViewBag.Title = "Pagina inicial";
}

@{Html.BeginForm("Logout", "Home");}
<div class="jumbotron">
    <h1>Web Serviços</h1>
    <p class="lead">Sua busca de serviços de forma rápida e prática</p>
@{ var usuario = (webservicos.Models.Usuario)Session["usuario"];
    if (usuario == null)
    {
    <p><input type="submit" class="btn btn-primary" value="Faça login >>" /></p>
        } }
    @*no href voce coloca um link pra fazer alguma coisa*@
</div>
@{Html.EndForm();}
<br />
<br />
<br />
<br />

<div class=bs-docs-featurette>
    <div class=container>
            <h1 class=bs-docs-featurette-title>Sobre a Web Serviços</h1>
            <br />
            <p class=lead>O serviço que você procura está aqui. Garantimos a excelência na entrega dos serviços prestados, auxiliando assim no aumento do seu bem-estar. <a href=../Home/About>Veja mais</a></p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
                <div class="col-xs-6 col-sm-3">
                    <img src="~/Images/property-maintenance2.jpg" class="img-rounded" />
                </div>
            </div>
        </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class=bs-docs-featurette>
            <div class=container>
                <h1 class=bs-docs-featurette-title>Trabalhe conosco</h1>
                <br />
                <p class=lead>Registre-se e receba maior visibilidade para seus serviços. <a href=../Usuario/Cadastro>Increver-se</a></p>
                <hr class=half-rule>
                <div class="row bs-docs-featured-sites">
                    <div class="col-xs-6 col-sm-3">
                        <img src="~/Images/yourstory-plumbers.jpg" class="img-rounded" />
                    </div>
                </div>
            </div>
        </div>

