﻿@model webservicos.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Login</h2>
<br />
<a href=../Usuario/Cadastro>Ainda não possui um cadastro? Increva-se aqui</a>
<br />
<br />

@using (Html.BeginForm("Login", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <span class="label label-success">@TempData["SucessMsg"]</span>
    <span class="label label-danger">@TempData["ErrorMsg"]</span>

    <div class="form-group">
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Senha)
        @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <br />
    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="button" class="btn btn-primary" value="Cancelar" />

}
