﻿@{
    ViewBag.Title = "Sobre O Mário";
}
<h2>@ViewBag.Title</h2>


@Html.Label("O Mário é muito importante", new { @style = "color: #000000" })

<img src="~/Images/super_mario.jpg" class="img-fluid" />
