﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WEB SERVIÇOS</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Abrir Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="~/Images/webservicos-icon2.png" />

                <a class="navbar-brand" href="@Url.Action("Index", "Home")">WEB SERVIÇOS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serviços <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @{var usuario = (webservicos.Models.Usuario)Session["usuario"];
                                if (usuario != null)
                                {
                                    @Ajax.ActionLink("Novo", "Cadastro", "Servico", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { });
                                }}
                        </li>
                        <li>@Html.ActionLink("Visualizar todos", "Index", "Servico")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                    @if (usuario == null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastre-se<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li>@Ajax.ActionLink("Novo cadastro", "Cadastro", "Usuario", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { })</li>
                                <li>@Ajax.ActionLink("Login", "Login", "Home", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { })</li>

                            </ul>
                        </li>
                }
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feedback <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Avalie os nossos serviços", "Cadastro", "Feedback")</li>
                        <li>@Html.ActionLink("Avaliações", "Index", "Feedback")</li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="@Url.Action("Pesquisar", "Servico")">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar serviço..." name="pesquisa">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                @if (usuario != null)
            {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @{
                                var bemvindo = "";
                                //var usuario = (webservicos.Models.Usuario)Session["usuario"];

                                if (usuario != null)
                                {
                                    bemvindo = String.Format("Bem vindo(a) {0}!", usuario.PrimeiroNome);
                                }
                            }

                            @bemvindo
                            
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                         <li>@Ajax.ActionLink("Meu perfil", "Perfil", "Usuario", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { })</li>
                            <li>@Ajax.ActionLink("Meus serviços", "Agenda", "Usuario", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { })</li>

                                @if (((webservicos.Models.Usuario)Session["Usuario"]).Login == "Administrador")
                                {
                                <li><a href=../Usuario/Index>Visualizar usuários</a></li>
                                }

                            <li role="separator" class="divider"></li>
                            <li>@Ajax.ActionLink("Sair", "Logout", "Home", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "body" }, new { })</li>
                        </ul>
                    </li>
                                }
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WEB SERVIÇOS - SENAI - Curso Técnico em Informática</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>