﻿@model webservicos.Models.Feedback

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Adicionar feedback</h2>

@{Html.BeginForm("Salvar", "Feedback");}
@Html.ValidationSummary(true)

<span class="label label-success">@TempData["SucessMsg"]</span>
<br />
<span class="label label-danger">@TempData["ErrorMsg"]</span>
<br />

<div class="form-group">
    @Html.LabelFor(x => x.Autor)
    @Html.TextBoxFor(x => x.Autor, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Autor)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Comentario)
    @Html.TextBoxFor(x => x.Comentario, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Comentario)
</div>

<br />

<input type="submit" class="btn btn-primary" value="Salvar" />

<input type="button" class="btn btn-primary" value="Cancelar" />

@{Html.EndForm();}
