﻿@model webservicos.Models.Feedback

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*<h2>@Html.DisplayFor(model => model.Codigo)</h2>*@

<br />

<fieldset>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Autor)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Autor)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Comentario)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Comentario)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Data)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Data)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    @Html.HiddenFor(x => x.Codigo)
    </fieldset>