﻿@model IEnumerable<webservicos.Models.Feedback>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    <h1>Feedbacks</h1>
    <br />

    <p>
        @Html.ActionLink("Adicionar feedback", "Cadastro", "Feedback")
    </p>

    <span class="label label-success">@TempData["SucessMsg"]</span>
    <br />
    <span class="label label-danger">@TempData["ErrorMsg"]</span>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>

                    @Html.ActionLink("Vizualizar", "Detalhes", new { id = item.Codigo }) 
                </td>
            </tr>
        }

    </table>
