﻿@model webservicos.Models.Servico

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Anuncio)</h2>

<br />

<fieldset>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Descricao)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Descricao)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.Preco)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.Preco)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    <div class=bs-docs-featurette>
        <div class=container>
            <h4 class=bs-docs-featurette-title>@Html.DisplayNameFor(model => model.DataCriacao)</h4>
            <br />
            <p class="active">@Html.DisplayFor(model => model.DataCriacao)</p>
            <hr class=half-rule>
            <div class="row bs-docs-featured-sites">
            </div>
        </div>
    </div>

    @Html.HiddenFor(x => x.Codigo)

</fieldset>
