﻿@using webservicos.Models;
@model Servico
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/views/Shared/Layout.cshtml";
}

<h2>Editar serviço</h2>

@{Html.BeginForm("Salvar", "Servico");}
@Html.ValidationSummary(true)

<span class="label label-success">@TempData["SucessMsg"]</span>
<br />
<span class="label label-danger">@TempData["ErrorMsg"]</span>
<br />
@Html.HiddenFor(x => x.Codigo)

<div class="form-group">
    @Html.LabelFor(x => x.TipoServico)
    @Html.DropDownListFor(x => x.TipoServico.Codigo, new SelectList(ViewBag.TipoServico, "Codigo", "NomeServico"), new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.TipoServico)
</div>

  <div class="form-group">
    @Html.LabelFor(x => x.Anuncio)
    @Html.TextBoxFor(x => x.Anuncio, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Anuncio)
</div>

<div class="form-group">
    @Html.LabelFor(x=> x.Preco)
    @Html.TextBoxFor(x => x.Preco, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Preco)
 </div>

<div class="form-group">
    @Html.LabelFor(x => x.Descricao)
    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Descricao)
 </div>
<br />
<input type="submit" class="btn btn-primary" value="Salvar" />


<input type="button" class="btn btn-primary" value="Cancelar" />


@{Html.EndForm();}
