﻿@model IEnumerable<webservicos.Models.Servico>

@{
    ViewBag.Title = "Pesquisar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Resultados</h2>


<span class="label label-success">@TempData["SucessMsg"]</span>
<br />
<span class="label label-danger">@TempData["ErrorMsg"]</span>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Anuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServico.NomeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>

            <td>
                @Html.ActionLink("Vizualizar", "Detalhes", new { id = item.Codigo })
            </td>
        </tr>
    }

</table>
